@using Restaurant.Web.ViewModels.InputModels
@model AddReservationInputModel

@{
    this.ViewData["Title"] = SL["RESERVATION"];
}

<partial name="_HeroPartial" />

<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/lcU3pruVyUw" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">@SL["RESERVATION"]</h5>
                <h1 class="text-white mb-4">@SL["BOOK_TABLE"]</h1>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-white fs-5"></div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="FullName" class="form-control" placeholder="@SL["YOUR_NAME"]">
                                <label asp-for="FullName">@SL["YOUR_NAME"]</label>
                                <span asp-validation-for="FullName" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="@SL["PHONE_NUMBER"]">
                                <label asp-for="PhoneNumber">@SL["PHONE_NUMBER"]</label>
                                <span asp-validation-for="PhoneNumber" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" asp-for="Email" class="form-control" placeholder="@SL["EMAIL"]">
                                <label asp-for="Email">@SL["EMAIL"]</label>
                                <span asp-validation-for="Email" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date">
                                <input type="date" asp-for="ReservationDate" class="form-control" placeholder="@SL["CHOOSE_DATE"]" />
                                <label asp-for="ReservationDate">@SL["CHOOSE_DATE"]</label>
                                <span asp-validation-for="ReservationDate" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="ReservationTime" class="form-select">
                                    @for (int i = 18; i <= 22; i++)
                                    {
                                        <option value=@i>@i:00</option>
                                    }
                                </select>
                                <label asp-for=ReservationTime>@SL["CHOOSE_TIME"]</label>
                                <span asp-validation-for="ReservationTime" class="text-white"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="NumberOfPeople" class="form-select">
                                    <option value="2">@SL["TWO"] @SL["PEOPLE"]</option>
                                    <option value="3">@SL["THREE"] @SL["PEOPLE"]</option>
                                    <option value="4">@SL["FOUR"] @SL["PEOPLE"]</option>
                                    <option value="5">@SL["FIVE"] @SL["PEOPLE"]</option>
                                    <option value="6">@SL["SIX"] @SL["PEOPLE"]</option>
                                </select>
                                <label asp-for=NumberOfPeople>@SL["NUMBER_OF_PEOPLE"]</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" asp-for="SpecialRequest" placeholder="@SL["SPECIAL_REQUEST"]" maxlength="201" style="height: 100px"></textarea>
                                <label asp-for="SpecialRequest">@SL["SPECIAL_REQUEST"]</label>
                                <span asp-validation-for="SpecialRequest" class="text-white"></span>

                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">@SL["BOOK_NOW"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
