@using Restaurant.Web.ViewModels.Reservation
@model ReservationViewModel
@{
    this.ViewData["Title"] = SL["YOUR_RESERVATION"];
}

<partial name="_HeroPartial" />

<div class="container wow fadeInUp" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 pb-5">
            <div class="border border-dark border-3 rounded mb-3">
                <div class="ps-3">
                    <h1 align="center" class="m-3" style="color:#4BB543;font-weight: bolder;"><i class="fa fa-check-square"></i> @SL["SUCCESS"]</h1>
                </div>
            </div>
            <partial name="_ReservationPartial" model="Model" />

            <div class="border border-dark border-3 rounded p-4 mt-5">
                <div class="ps-3">
                    <h5 align="center">
                        @SL["EDIT_OR_CANCEL"] @SL["YOUR_RESERVATION"] @SL["PLEASE"] <a asp-area="" asp-controller="Home" asp-action="Contact">@SL["CONTACT_US"].</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

