@using Restaurant.Common
@using Restaurant.Web.ViewModels.Menu
@model MenuViewModel
@{
    this.ViewData["Title"] = "Menu";
}

<partial name="_HeroPartial" />

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">You can choose from our</h1>
        </div>

        @{var i = 1;}

        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                @foreach (var category in Model.Categories)
                {
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-@i">
                            <i class="@category.FontAwesomeIcon fs-3"></i>
                            <div class="ps-3">
                                <small class="text-body">@category.Adjective</small>
                                <h6 class="mt-n1 mb-0">@category.Name</h6>
                            </div>
                        </a>
                    </li>
                    i++;
                }
            </ul>

            @{i = 1;}

            <div class="tab-content">

                @foreach (var category in Model.Categories)
                {
                    <div id="tab-@i" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            @foreach (var meal in Model.Meals.Where(m => m.Category.Name == category.Name))
                            {
                                <div class="col-lg-6" id="mealContainer@(meal.Id)">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=@($"{meal.ImageUrl}") alt="" asp-append-version="true">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>@meal.Name</span>
                                                <span class="text-primary" id="mealPrice@(meal.Id)">@meal.Price <i class="fas fa-dollar-sign fs-5"></i></span>
                                            </h5>
                                            <small class="fst-italic mb-2">@meal.Description</small>
                                            <div class="d-flex align-items-center">
                                                <div class="input-group quantity me-md-5" style="width: 100px;">
                                                    <div>
                                                        <button class="btn btn-sm btn-primary btn-minus" onclick="ChangeQuantity('mealContainer@(meal.Id)')">
                                                            <i class="fa fa-minus btn-minus"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm bg-white text-center" value="1" disabled>
                                                    <div>
                                                        <button class="btn btn-sm btn-primary btn-plus" onclick="ChangeQuantity('mealContainer@(meal.Id)')">
                                                            <i class="fa fa-plus btn-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary px-3 ms-5" onclick="AddToCart('mealContainer@(meal.Id)')"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>

<!--Modal Start-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
            </div>
            <div class="modal-body">
                <ul id="modalBody">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCloseModal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal End-->

<script type="text/javascript">

    function ChangeQuantity(id) {

        var mealContainer = document.getElementById(id);
        var quantity = mealContainer.querySelector('input');

        var quantityValue = Number.parseInt(quantity.getAttribute('value'));

        var button = event.srcElement;

        if (button.classList.contains('btn-plus')) {
            quantityValue++;
        }
        else {
            if (quantityValue > 1) {
                quantityValue--;
            }
        }

        quantity.setAttribute('value', quantityValue);
    }

    function AddToCart(id) {

        var mealId = id.substring(13);
        var mealContainer = document.getElementById(id);
        var quantity = mealContainer.querySelector('input').value;

        const data =
        {
            mealId: mealId,
            quantity: quantity
        };

        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result, status, xhr) {
                if (xhr.status === 200) {
                    $("#modalLabel").text('Success');
                    $("#modalBody").text('You have successfully added the item to your cart!');
                    $("#exampleModal").modal('show');

                    var currentCartTotalPrice = JSON.parse(xhr.responseText);
                    $("#cartSubTotalBtn").html('<i class="fa-solid fa-cart-shopping"></i> ' + currentCartTotalPrice + ' $');
                }
            },
            error: function (xhr) {
                $("#modalLabel").text('Oops!');
                if (xhr.status === 401) {

                    $("#modalBody").append('<li class="text-danger"> You need to log in to add items to your cart! </li>')
                }
                else {
                    var errors = JSON.parse(xhr.responseText);
                    for (var i = 0; i < errors.length; i++) {
                        $("#modalBody").append('<li class="text-danger">' + errors[i] + '</li>')
                    }
                }
                $("#exampleModal").modal('show')
            }
        });

        $("#btnCloseModal").click(function () {
            $("#exampleModal").modal("hide");
            $("#modalBody").text('');
        });
    }

</script>
