@using Restaurant.Web.ViewModels.Menu
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions
@model MenuViewModel
@{
    this.ViewData["Title"] = SL["MENU"];
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<partial name="_HeroPartial" />

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">@SL["YOU_CAN_CHOOSE"]</h1>
        </div>

        @{
            var i = 1;
        }

        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                @foreach (var category in Model.Categories)
                {
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-@i">
                            <i class="@category.FontAwesomeIcon fs-3"></i>
                            <div class="ps-3">
                                @{var categoryAdjective = requestCulture.RequestCulture.Culture.Name == "en" ? category.Adjective : category.SecondaryAdjective;}
                                <small class="text-body">@categoryAdjective</small>
                                @{var categoryName = requestCulture.RequestCulture.Culture.Name == "en" ? category.Name : category.SecondaryName;}
                                <h6 class="mt-n1 mb-0">@categoryName</h6>
                            </div>
                        </a>
                    </li>
                    i++;
                }
            </ul>

            @{
                i = 1;
            }

            <div class="tab-content">

                @foreach (var category in Model.Categories)
                {
                    <div id="tab-@i" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            @foreach (var meal in Model.Meals.Where(m => m.Category.Name == category.Name))
                            {
                                <div class="col-xl-6" id="mealContainer@(meal.Id)">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src=@($"{meal.ImageUrl}") alt="" asp-append-version="true">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                @{ var mealName = requestCulture.RequestCulture.Culture.Name == "en" ? meal.Name : meal.SecondaryName; }
                                                <span>@mealName</span>
                                                <span class="text-primary" id="mealPrice@(meal.Id)">@meal.Price <i class="fas fa-dollar-sign fs-5"></i></span>
                                            </h5>
                                            @{ var mealDescription = requestCulture.RequestCulture.Culture.Name == "en" ? meal.Description : meal.SecondaryDescription; }
                                            <small class="fst-italic mb-2">@mealDescription</small>
                                            <div class="d-flex align-items-center">
                                                <div class="btn-group quantity me-md-5" style="width: 100px;">
                                                    <div>
                                                        <button class="btn btn-sm btn-primary btn-minus" onclick="ChangeMenuItemQuantity('mealContainer@(meal.Id)')">
                                                            <i class="fa fa-minus btn-minus"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm bg-white text-center" style="min-width:25px;" value="1" disabled>
                                                    <div>
                                                        <button class="btn btn-sm btn-primary btn-plus" onclick="ChangeMenuItemQuantity('mealContainer@(meal.Id)')">
                                                            <i class="fa fa-plus btn-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary px-xl-3 ms-xl-5" onclick="AddToCart('mealContainer@(meal.Id)')">
                                                    <i class="fa fa-shopping-cart"></i>@SL["ADD_TO_CART"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>

<!--Modal Start-->

<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel"></h5>
            </div>
            <div class="modal-body">
                <ul id="addToCartModalBody">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="addToCartModalCloseButton" data-dismiss="modal">@SL["CLOSE"]</button>
            </div>
        </div>
    </div>
</div>

<!--Modal End-->
@section Scripts
{
    <script src="~/js/site.js" asp-append-version="true"></script>
}

