@using Restaurant.Web.ViewModels.Review
@model AdminReviewViewModel
    <div>
        <h4>Review №@Model.Id</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                User image
            </dt>
            <dd class="col-sm-10">
                <img class="flex-shrink-0 img-fluid" src=@Model.ImageUrl asp-append-version="true">
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.Description"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Description
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.ApplicationUserId"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.ApplicationUserId
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.Rating"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Rating
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.Summary"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.Summary
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.IsDeleted"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.IsDeleted
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.DeletedOn"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.DeletedOn
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.CreatedOn"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedOn
            </dd>
            <dt class="col-sm-2">
                <label asp-for="@Model.ModifiedOn"></label>
            </dt>
            <dd class="col-sm-10">
                @Model.ModifiedOn
            </dd>
        </dl>
    </div>