<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xxl-4 col-md-4">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">@SL["COMPANY"]</h4>
                <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Index">@SL["HOME"]</a>
                <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="About">@SL["ABOUT_US"]</a>
                <a class="btn btn-link" asp-area="" asp-controller="Review" asp-action="All" asp-route-id="1">@SL["REVIEWS"]</a>
                <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Contact">@SL["CONTACTS"]</a>
                <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Privacy">@SL["PRIVACY_POLICY"]</a>
            </div>
            <div class="col-xxl-4 col-md-4">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">@SL["CONTACTS"]</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> @SL["COMPANY_ADDRESS"]</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+359 123 456 789</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-xxl-4 col-md-4">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal mb-4">@SL["WORKING_HOURS"]</h5>
                <h6 class="text-light fw-normal">@SL["MONDAY_TO_SUNDAY"]</h6>
                <p>09:00 - 23:00</p>
                <h5 class="section-title ff-secondary text-start text-primary fw-normal mb-4">@SL["DELIVERY_HOURS"]</h5>
                <h6 class="text-light fw-normal">@SL["MONDAY_TO_SUNDAY"]</h6>
                <p>12:00 -00:00</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">@SL["GOURMET_EXPERIENCE"]</a> @SL["ALL_RIGHTS_RESERVED"].
                </div>
            </div>
        </div>
    </div>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
