@using Restaurant.Common
@using Restaurant.Web.ViewModels.Review
@model PagedItemsViewModel<ReviewViewModel>

@{
    this.ViewData["Title"] = "All reviews";
}

<partial name="_HeroPartial" />

<!-- To do: Improve UI - add bootstrap card class. -->

<div class="row g-4 mb-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
        <h1 class="mb-5">Customer feedback</h1>
    </div>

    @foreach (var review in Model.Items)
    {
        <div class="card offset-xl-1 col-md-10 border-3 border-dark wow fadeInUp" data-wow-delay="0.1s">
            <div class="row d-flex">
                <div class="d-flex flex-column">
                    <h3 class="mt-2 mb-3">@review.FullName</h3>
                    <div>
                        <p class="text-left">
                            @for (int i = 0; i < review.Rating; i++)
                            {
                                <i class="fa fa-star text-primary fs-3"></i>
                            }
                            <span class="text-muted fs-3">@review.Rating/5</span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="row text-left">
                <h4 class="text-primary mb-3">@review.Summary</h4>
                <p class="content">@review.Description</p>
            </div>
            <div class="row g-0">
                <div class="col-md-6">
                    <img class="profile-pic " src="@review.ImageUrl" asp-append-version="true">
                </div>
                <div class="col-md-6">
                    <p class="text-muted fw-bold pt-5 pt-sm-5 offset-xl-10">@review.CreatedOn.ToLocalTime()</p>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PagingPartial" model="@Model" />
