@using Restaurant.Web.ViewModels.Paging
@using Restaurant.Web.ViewModels.Review
@model PagedItemsViewModel<ReviewViewModel>

@{
    this.ViewData["Title"] = SL["АLL_REVIEWS"];
}

<partial name="_HeroPartial" />

<div class="row g-4 mb-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">@SL["TESTIMONIAL"]</h5>
        <h1 class="mb-5">@SL["CUSTOMER_FEEDBACK"]</h1>
    </div>
    <div class="row">
        @foreach (var review in Model.Items)
        {

            <div class="col-xl-6 p-5">
                <div class="card border-5 border-dark bg-body wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card-header bg-white">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="profile-pic" src="@review.ImageUrl" asp-append-version="true">
                            </div>
                            <div class="col-md-6">
                                    @for (int i = 0; i < review.Rating; i++)
                                    {
                                        <i class="fa fa-star text-primary fs-3 mt-4"></i>
                                    }
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <h5>@review.Summary</h5>
                        <p class="card-text">@review.Description</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small>@review.CreatedOn.ToLocalTime()</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_PagingPartial" model="@Model" />
