@using Restaurant.Web.ViewModels.Checkout
@model CheckoutViewModel;
@{
    this.ViewData["Title"] = "Checkout";
}

<partial name="_HeroPartial" />

<div class="container-fluid pt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row">
        <div class="col-lg-8 bg-white border border-3 border-dark rounded-3">
            <div class="mb-4">
                <h1 class="text-center font-weight-semi-bold mb-5 mt-4">Billing Address</h1>
                @if (!Model.Addresses.Any())
                {
                    <h3 class="mt-3 text-center">I'm afraid you don't have any addresses added yet.</h3>
                    <h3 class="mt-3 text-center">You'll need to <a asp-controller="Address" asp-action="Add">add an address</a> in order to proceed.</h3>
                }
                else
                {
                    <form method="post" asp-controller="Order" asp-action="Create" id="CreateOrderForm">
                    <div asp-validation-summary="All"></div>
                    <div class="col-md-12">
                        <input type="hidden" id="cartId" name="CartId" value="@Model.Id" />
                        <input type="hidden" id="addressId" name="addressId" value="0" />
                        <input type="hidden" id="cartItemsCount" name="CartItemsCount" value="@Model.CartItems.Count()"/>
                        <input type="hidden" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber"/>



                        <select class="form-select bg-body" id="addressNames" onchange="GetAddress()">
                            <option value="Initial">Choose an address...</option>
                            @foreach (var address in Model.Addresses)
                            {
                                <option value="@address">@address</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.FirstName"></label>
                        <input asp-for="@Model.FirstName" class="form-control bg-body" disabled>
                        <span asp-validation-for="@Model.FirstName"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.LastName"></label>
                        <input asp-for="@Model.LastName" class="form-control bg-body" disabled>
                        <span asp-validation-for="@Model.LastName"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.Email"></label>
                        <input asp-for="@Model.Email" class="form-control bg-body" disabled>
                        <span asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="@Model.PhoneNumber"></label>
                        <input asp-for="@Model.PhoneNumber" class="form-control bg-body" disabled>
                        <span asp-validation-for="@Model.PhoneNumber"></span>
                    </div>
                    <div class="col-md-12">
                        <label>Street</label>
                        <input class="form-control bg-body" id="street" disabled>
                    </div>
                    <div class="col-md-12">
                        <label>Address line 2</label>
                        <input class="form-control bg-body" id="addressLine2" disabled>
                    </div>
                    <div class="col-md-12">
                        <label>District</label>
                        <input class="form-control bg-body" id="district" disabled>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>City</label>
                            <input class="form-control bg-body" id="city" disabled>
                        </div>
                        <div class="col-md-4">
                            <label>Country</label>
                            <input class="form-control bg-body" id="country" disabled>
                        </div>
                        <div class="col-md-4">
                            <label>Post code</label>
                            <input class="form-control bg-body" id="postCode" disabled>
                        </div>
                    </div>
                </form>
                }
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border-dark mb-5">
                <div class="card-header bg-dark border-0">
                    <h4 class="text-white m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    @foreach (var cartItem in Model.CartItems)
                    {
                        <div class="d-flex justify-content-between">
                            <p>@cartItem.Quantity x @cartItem.Meal.Name</p>
                            <p>@cartItem.ItemTotalPrice $</p>
                        </div>
                    }
                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">@Model.SubTotal $</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">@Model.ShippingPrice$</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">@Model.TotalPrice $</h5>
                    </div>
                </div>
            </div>
            <div class="card border-dark">
                <div class="card-header bg-dark border-0">
                    <h4 class="text-white m-0">Payment</h4>
                </div>
                <div class="card-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
                        <label class="form-check-label text-left" for="gridCheck">
                            PayPal
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Pay on delivery</label>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button type="button" class="btn btn-lg btn-block btn-primary font-weight-bold mt-3 offset-md-2" onclick="CreateOrderForm.submit()">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GetAddress() {
        var addressName = $('#addressNames').val()
        var cartItemsCount = $('#cartItemsCount').val()


        $.ajax({
            url: '/Checkout/GetAddressDetails',
            type: 'GET',
            data: {
                addressName: addressName,
                cartItemsCount: cartItemsCount
            },
            success: function (result, status, xhr) {
                if (xhr.status === 200) {
                    var jsonResult = JSON.parse(xhr.responseText);
                    $('#street').val(jsonResult.street);
                    $('#addressLine2').val(jsonResult.addressLineTwo);
                    $('#district').val(jsonResult.district);
                    $('#city').val(jsonResult.city);
                    $('#country').val(jsonResult.country);
                    $('#postCode').val(jsonResult.postCode);
                    $('#addressId').val(jsonResult.id);

                }
            }
        });
    }
</script>