@using Restaurant.Web.ViewModels.Reservation
@model PagedItemsViewModel<AdminReservationViewModel>

@{
    this.ViewData["Title"] = "Index";
}

<partial name="_HeroPartial" />
<table class="table table-hover table-bordered table-responsive">

    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Id
            </th>
            <th>
                Reservation number
            </th>
            <th>
                User id
            </th>
            <th>
                User name
            </th>
            <th>
                Reservation date
            </th>
            <th>
                Number of people
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Table id
            </th>
            <th>
                Is Deleted
            </th>
            <th>
                Deleted On
            </th>
            <th>
                Created On
            </th>
            <th>
                Modified On
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var reservation in Model.Items)
        {
            <tr>
                <td>
                    @reservation.Id
                </td>
                <td>
                    @reservation.ReservationNumber
                </td>
                <td>
                    @reservation.ApplicationUserId
                </td>
                <td>
                    @reservation.Fullname
                </td>
                <td>
                    @reservation.ReservationDate
                </td>
                <td>
                    @reservation.NumberOfPeople
                </td>
                <td>
                    @reservation.PhoneNumber
                </td>
                <td>
                    @reservation.Email
                </td>
                <td>
                    @reservation.TableId
                </td>
                <td>
                    @reservation.IsDeleted
                </td>
                <td>
                    @reservation.DeletedOn
                </td>
                <td>
                    @reservation.CreatedOn
                </td>
                <td>
                    @reservation.ModifiedOn
                </td>
                <td>
                    <a class="btn btn-primary mt-1" asp-action="Details" asp-route-id="@reservation.Id"><i class="fa-solid fa-circle-info"></i>Info</a>
                    <a class="btn btn-primary mt-1" asp-action="Edit" asp-route-id="@reservation.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />