@using Restaurant.Web.ViewModels.Meal
@model PagedItemsViewModel<AdminMealViewModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-hover table-bordered table-responsive">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th >
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                IsDeleted
            </th>
            <th>
                DeletedOn
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                ModifiedOn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var meal in Model.Items)
        {
            <tr>
                <td>
                    <img class="flex-shrink-0 img-fluid" src=@meal.ImageUrl alt="" asp-append-version="true">
                </td>
                <td>
                    @meal.Name
                </td>
                <td>
                    @meal.Description
                </td>
                <td>
                    @meal.Price
                </td>
                <td>
                    @meal.Category.Name
                </td>
                <td>
                    @meal.IsDeleted
                </td>
                <td>
                    @meal.DeletedOn
                </td>
                <td>
                    @meal.CreatedOn
                </td>
                <td>
                    @meal.ModifiedOn
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@meal.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a class="btn btn-primary mt-1" asp-action="Details" asp-route-id="@meal.Id"><i class="fa-solid fa-circle-info"></i> Info</a>

                </td>
            </tr>
        }
    </tbody>

</table>
<a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-circle-plus"></i> Create New</a>

<partial name="_PagingPartial" model="@Model" />

