@using Restaurant.Web.ViewModels.Order;
@model AdminOrderListViewModel;
@{
    ViewData["Title"] = "Index";
}

<partial name="_HeroPartial" />
<table class="table table-hover table-bordered table-responsive">

    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Order id
            </th>
            <th>
                Order number
            </th>
            <th>
                UserId
            </th>
            <th>
                Address
            </th>
            <th>
                Delivery time
            </th>
            <th>
                Meals
            </th>
            <th>
                Total price
            </th>
            <th>
                Is complete
            </th>
            <th>
                Completed on
            </th>
            <th>
                Is Deleted
            </th>
            <th>
                Deleted On
            </th>
            <th>
                Created On
            </th>
            <th>
                Modified On
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var order in Model.Orders)
        {
        <tr>

            <td>
                @order.Id
            </td>
            <td>
                @order.OrderNumber
            </td>
            <td>
                @order.ApplicationUserId
            </td>
            <td>
                @order.Address.Name <br>
                @order.Address.Street <br>
                @order.Address.AddressLineTwo <br>
                @order.Address.City <br>
                @order.Address.District <br>
                @order.Address.PostCode <br>
            </td>
            <td>
                @order.DeliveryTime.ToLocalTime()
            </td>
            <td>
                <ul>
                    @foreach (var meal in order.Meals)
                    {
                        <li>@meal.MealQuantity x @meal.MealName</li>
                    }
                </ul>

            </td>
            <td>
                @order.TotalPrice
            </td>
            <td>
                @order.IsComplete
            </td>
            <td>
                @order.CompletedOn
            </td>
            <td>
                @order.IsDeleted
            </td>
            <td>
                @order.DeletedOn
            </td>
            <td>
                @order.CreatedOn
            </td>
            <td>
                @order.ModifiedOn
            </td>
            <td>
                <a class="btn btn-primary btn-sm mt-1" asp-action="Details" asp-route-id="@order.Id"><i class="fa-solid fa-circle-info"></i> Details</a>
            </td>

        </tr>
        }
    </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />